@import '../../common/colors.scss';

.footer {
   background-color: $secondary-color;
   padding: 0.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.footer p {
    color: $font-primary;
}

.footer a {
  color: blue;
}