@import '../../common/colors.scss';

.footer {
   background-color: $secondary-color;
   padding: 0.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.footer p {
    color: $font-primary;
    
}

.footer a {
  color: rgb(0, 106, 255);
}


@media  screen and (max-width: 600px) {
  .footer p {
    color: $font-primary;
    font-size: 10px;
    padding: 10px;
}
}